<!DOCTYPE html>
<html th:replace="~{default :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Books with titles containing '+${book_title}"></title>
</head>
<body>
<section class="col-md-12">
    <h1 th:text="'Searching for '+${book_title}"></h1>
    <div class="row">
        <div class="col-md-1">
            <a class="btn btn-outline-primary"
               th:if="${hasPrevPage}"
               th:href="@{/book/title_search(title=${book_title}, page=${prevPage})}"
               th:text="'Previous Page'"></a>
        </div>
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <a class="btn btn-outline-primary"
               th:if="${hasNextPage}"
               th:href="@{/book/title_search/(title=${book_title}, page=${nextPage})}"
               th:text="'Next Page'"></a>
        </div>
    </div>
    <table th:replace="book/table :: book_table"></table>
    <script th:src="@{/book.js}"></script>
</section>
</body>
</html>