<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Edit member</title>
</head>
<body>
<section class="col-md-12">
    <form th:action="@{/member/{uid}(uid=${member.userid})}"
          th:object="${member}"
          name = "f"
          method="post">
        <fieldset>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="password">Password: </label>
                </div>
                <div class="col-md-3 form-group">
                    <input id="password" type="text" name="password" class="form-control" th:field="*{password}"/>
                </div>
            </div>
            <div th:replace="member/form :: formfields"></div>
        </fieldset>
    </form>
</section>
</body>
</html>