<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{default :: layout(~{::title}, ~{::section})}" >
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
</head>
<body>
<section class="col-md-12">
    <table class="table">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        <tr th:each="member : ${members}">
            <td>
                <a th:text="${member.userid}" th:href="@{/member/{userid}(userid=${member.userid})}"></a>
            </td>
            <td th:text="${member.fname}"></td>
            <td th:text="${member.lname}"></td>
            <td>
                <a th:href="@{/member/{userid}/edit(userid=${member.userid})}">Edit</a>

            </td>
        </tr>
    </table>
</section>
</body>
</html>