<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
</head>
<body>
<section class="col-md-12">
    <form th:action="@{/member/new}"
          th:object="${memberForm}"
          name = "f"
          method="post">
        <fieldset>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="userid">Userid:</label>
                </div>
                <div class="col-md-3 form-group">
                    <input id="userid" type="text" name="userid" class="form-control" th:field="*{userid}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label for="password">Password: </label>
                </div>
                <div class="col-md-3 form-group">
                    <input id="password" type="text" name="password" class="form-control" th:field="*{password}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
        </fieldset>
        <fieldset th:insert="member/form.html :: formfields"></fieldset>
    </form>
</section>
</body>
</html>