<!DOCTYPE html>
<html th:replace="~{default :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TITLE HERE</title>
</head>
<body>
<section class="col-md-12">
    <form name="f"
          id="f"
          th:action="@{/cart/update}"
          method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>New Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cart : ${cartMap}">
                <td>
                    <a th:href="@{/book/{isbn}(isbn=${cart.key.getIsbn()})}" th:text="${cart.key.getTitle()}"></a>
                </td>
                <td th:text="${cart.value}"></td>
                <td>
                    <div class="form-group">
                        <input type="text"
                               th:value="${cart.value}"
                               th:name="${cart.key.isbn}"
                               th:id="${cart.key.isbn}"/>
                    </div>
                </td>
                <td th:text="'$'+${#numbers.formatDecimal(cart.key.getPrice(), 0, 2)}"></td>
                <td th:text="'$'+${#numbers.formatDecimal(cart.key.getPrice().multiply(cart.value), 0, 2)}"></td>
                <td><input type="button" class="btn btn-danger remove-button" value="X" th:data="${cart.key.isbn}"/>
                </td>
            </tr>
            <tr th:if="${cartMap.size() > 0}">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td th:text="'$'+${#numbers.formatDecimal(total, 0, 2)}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="form-group row" th:if="${cartMap.size() > 0}">
            <input type="submit" class="btn btn-warning form-control"
                   value="Update"/>
        </div>
        <div class="form-group row" th:if="${cartMap.size() > 0}">
            <a href="/order/new" class="btn btn-primary btn-block">Check Out</a>
        </div>
    </form>
    <script>
        window.onload = function () {
            $('.remove-button').click(function () {
                var isbn = $(this).attr('data');
                $("[id='" + isbn + "']").val("0");
                $('#f').submit();
            })
        }
    </script>
</section>
</body>
</html>